@font-face {
    font-family: Monolith;
    src: url("../font/Monolith.otf") format("opentype");
}

@font-face {
    font-family: Koldby;
    src: url("../font/Koldby.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
}

.html-light, .body-light {
    background-color: white;
}

.html-dark, .body-dark {
    background-color: #121212;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
}

#particle-wrapper {
    height: 100%;
}