#song-container {
    width: 100%;
    height: 90%;
    top: 10%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

#song-left {
    order: 1;
}

#song-right {
    order: 2;
}

.song-panel {
    width: 50%;
    background-color: #30303010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8.3333%;
}

.song-panel:hover {
    background-color: #0000;
}

.song-video {
    height: 25%;
    position: relative;
    --ratio: calc(16/9);
    --h: min(calc(50vw / var(--ratio)), 22.5vh);
    height: var(--h);
    width: calc(var(--h) * var(--ratio));
}

.song-video iframe {
    width: 100%;
    height: 100%;
}

.song-text {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    order: 1;
    font-family: Koldby;
    font-size: 32pt;
    flex-grow: 1;
}

.subtitle {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    order: 2;
    font-family: Koldby;
    font-size: 16pt;
    flex-grow: 1;
}