#project-box {
    width: 60%;
    height: 75%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.project-box-light {
    background-color: white;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.05);
}

.project-box-dark {
    background-color: #242424;
}

#project-image-container {
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 50%;
}

.project-image-container-light {
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.05);
}

#project-image {
    width: 100%;
    height: 100%;
}

#project-text {
    margin: 30px;
    margin-top: 0px;
}

.project-text-dark {
    color: white;
}

.project-text-dark a {
    color: white;
}

.project-text-light a {
    color: black;
}

#project-text h1 {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    font-family: Monolith;
    font-size: 30pt;
}

#project-text p {
    padding: 0px;
    padding-top: 30px;
    margin: 0px;
    font-family: Monolith;
    font-size: 15pt;
}

#button {
    position: absolute;
    top: 55%;
    font-family: Monolith;
    font-size: 50pt;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#button button {
    background: none;
    border: none;
    cursor: pointer;
}